<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <label for="title">Title</label>
    <div>
        <input type="text" name="postTitle" class="title" autocomplete="off">
    </div>  
    <label for="post">Post</label>
    <div>
        <textarea name="postBody" id="" cols="30" rows="10" class="post" autocomplete="off"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>